<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.kenyaemrml</package>
	<author>Palladium KEHMIS</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.kenyaemrml.MLinKenyaEMRActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openMRSVersion}</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.kenyaemrml.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<require_modules>
		<require_module version="${kenyaemrVersion}">org.openmrs.module.kenyaemr</require_module>
	</require_modules>
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<globalProperty>
		<property>kenyaemrml.casefinding.endpoint</property>
		<defaultValue>/ws/rest/v1/keml/casefindingscore</defaultValue>
		<description>
			A global property that specifies the local endpoint for invoking HTS case finding ML model
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.hts.lowRiskThreshold</property>
		<defaultValue>0.005011473</defaultValue>
		<description>
			A global property that specifies low risk threshold for the HTS ML model
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.hts.mediumRiskThreshold</property>
		<defaultValue>0.02795569</defaultValue>
		<description>
			A global property that specifies medium risk threshold for the HTS ML model
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.hts.highRiskThreshold</property>
		<defaultValue>0.1079255</defaultValue>
		<description>
			A global property that specifies high risk threshold for the HTS ML model
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.iitscore.endpoint</property>
		<defaultValue>/ws/rest/v1/keml/iitscore</defaultValue>
		<description>
			A global property that specifies the local endpoint for invoking IIT scoring ML model
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.iitscore.updatepatientscore</property>
		<defaultValue>/ws/rest/v1/keml/updatepatientiitscore</defaultValue>
		<description>
			A global property that specifies the local endpoint for updating the IIT score of a patient
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.iit.lowRiskThreshold</property>
		<defaultValue>0.04587388</defaultValue>
		<description>
			A global property that specifies low risk threshold for the IIT ML model
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.iit.mediumRiskThreshold</property>
		<defaultValue>0.1458253</defaultValue>
		<description>
			A global property that specifies medium risk threshold for the IIT ML model
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.iit.highRiskThreshold</property>
		<defaultValue>10.00001</defaultValue>
		<description>
			A global property that specifies high risk threshold for the IIT ML model
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.casefinding.feature.enabled</property>
		<defaultValue>true</defaultValue>
		<description>
			Defines whether the ML based case finding feature is enabled in the HTS forms
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemrml.palantir.high.iit.risk.threshold</property>
		<defaultValue>0.40</defaultValue>
		<description>
			Palantir's threshold for high IIT score. Any patient with values equal or greater will be flagged as high risk
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemr.iit.machine.learning.lastEvaluationDate</property>
		<defaultValue>2022JUN01</defaultValue>
		<description>
			Evaluation date of the last IIT risk score pull
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemr.iit.machine.learning.backend.url</property>
		<defaultValue>https://data.kenyahmis.org:9783/api/Dataset/v2</defaultValue>
		<description>
			The URL of the data warehouse backend
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemr.iit.machine.learning.client.id</property>
		<defaultValue>test</defaultValue>
		<description>
			IIT ML - The oauth2 client-id of the data warehouse backend
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemr.iit.machine.learning.client.secret</property>
		<defaultValue>7f11e148-5741-11ec-bf63-0242ac130002</defaultValue>
		<description>
			The oauth2 client-secret of the data warehouse backend
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemr.iit.machine.learning.scope</property>
		<defaultValue>pdapiv1</defaultValue>
		<description>
			IIT ML - The oauth2 scope of the data warehouse backend
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemr.iit.machine.learning.authorization.url</property>
		<defaultValue>https://auth2.kenyahmis.org:8443/connect/authorize</defaultValue>
		<description>
			IIT ML - The oauth2 authorization URL of the data warehouse backend
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemr.iit.machine.learning.token.url</property>
		<defaultValue>https://auth2.kenyahmis.org:8443/connect/token</defaultValue>
		<description>
			The oauth2 token URL of the data warehouse backend
		</description>
	</globalProperty>

	<globalProperty>
		<property>kenyaemr.iit.machine.learning.paging</property>
		<defaultValue>400</defaultValue>
		<description>
			The paging threshold for NDWH response. Default is 400
		</description>
	</globalProperty>
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!--Mapping files-->
	<mappingFiles>
		PatientRiskScore.hbm.xml
	</mappingFiles>
</module>

